# Ignore executable files
*.exe

# Ignore Visual Studio Code settings
.vscode/

# Ignore log files
*.log

# Ignore Python cache
_pycache_/
*.pyc

# Ignore environment files
.env
.venv/
env/
venv/
ENV/

# ignore build directories
build/
dist/